<div class="col">
  <div class="card mx-auto" style="width: 18rem;">
    <img
      src="{{site.baseurl}}/assets/index/card1.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">ABOUT OUR CHURCH</h5>
      <hr />
      <p class="card-text">
        The mission of the church is to bring all people into the saving
        knowledge of our Lord and the guidance of the Holy Spirit, to bind
        together followers of Jesus Christ for the purpose of sharing in the
        worship of God.
      </p>
      <a href="{{site.baseurl}}{{site.data.permalinks.aboutUs}}">Read More »</a>
    </div>
  </div>
</div>
