<style>
  .carousel-inner img{
    max-height: 70vh;
  }
  .carousel-content {
  position: absolute;
  bottom: 15vh;
  left: 10%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
#banner-main{
  background-image: url("{{site.baseurl}}/assets/card1.webp");
  background-size: cover;
  min-height: 40vh;  
}

</style>

<!-- Desktops -->
<div id="carouselExampleSlidesOnly" class="carousel slide d-none d-lg-block" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{site.baseurl}}/assets/bannerBackground.jpg" alt="First slide">
        <div class="carousel-content">
          <h1 class="display-3 text-center">
          AN INTERNATIONAL COMMUNITY OF FAITH
        </h1>
        </div>
        <div class="carousel-caption lead">
          <p>FOR ALL WHO
            BELIEVE IN LOVING AND SERVING CHRIST..
            THROUGH THE POWER OF THE HOLY SPIRIT...
            AND THE FELLOWSHIP OF THE CHURCH</p>
        </div>
      </div>
    </div>
  </div>
<!-- Mobile -->
  <div class="d-lg-none d-block text-light text-center">
    <div class="jumbotron" id="banner-main">
      <h1 class="display-5 mt-4">AN INTERNATIONAL COMMUNITY OF FAITH</h1>
      <p>FOR ALL WHO BELIEVE IN LOVING AND SERVING CHRIST</p>
    </div>
  </div>

