<div
  id="footer"
  class="bg-light text-center py-3 mx-0 row justify-content-md-center"
>
  <div class="col-12 col-lg-2 d-none d-lg-block">
    <hr />
    <h4>About Us</h4>
    <hr />
    <p>
      An evangelical, inter-denominational, international church with an
      English-speaking community with simultaneous translation into Spanish for
      our Worship Services.
    </p>
  </div>
  <div class="col-12 col-lg-2">
    <hr />
    <h4>Contact Us</h4>
    <hr />
    <p>
      <a href="tel:{{site.phone}}">
        <i class="fa fa-phone"></i>
        {{site.phone}}
      </a>
    </p>
    <p>
      <a target="_blank" rel="noreferrer noopener" href="{{site.gmaps_link}}">
        <i class="fa fa-map-marker"></i>
        {{site.address}}</a
      >
    </p>
    <p>
      <a target="_blank" rel="noreferrer noopener" href="mailto:{{site.email}}">
        <i class="fa fa-envelope"></i>
        {{site.email}}
      </a>
    </p>
  </div>
  <div id="social-media" class="col-12 col-lg-2">
    <hr />
    <h4>Social Media</h4>
    <hr />
    {% for item in site.data.social_media %} {% assign icon = {{item.name |
    downcase}}%}
    <a
      style="color:{{site.social[icon]}};"
      class="btn btn-group"
      target="_blank"
      rel="noreferrer noopener"
      href="{{item.link}}"
    >
      <i title="{{item.name}}" class="{{item.class}}"> </i>
    </a>
    {% endfor %}
  </div>
</div>
  <!-- <div class="bg-light small">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->